Service:
  RegionId: cn-hangzhou
  DeployType: ros
  OperationMetadata:
    StatusOperationConfigs:
    - TemplateName: ECS单机版
      SupportOperations:
      - Start
      - Stop
      - Restart
    SupportBackup: true
    ModifyParametersConfig:
    - TemplateName: ECS单机版
      Operation:
      - Name: 变更ECS实例规格
        Description: 变更ECS实例规格
        Type: Custom
        Parameters:
        - EcsInstanceType
      - Name: 变更ECS实例密码
        Description: 变更ECS实例密码
        Type: Custom
        Parameters:
        - InstancePassword
  DeployMetadata:
    SupplierDeployMetadata:
      SupplierTemplateConfigs:
      - Name: ECS单机版
        Url: ros_templates/template.yaml
        ArchitectureDiagramUrl: resources/architecture/architecture.jpg
        AllowedRegions:
        - ap-southeast-1
      ArtifactRelation:
        ecs_image_deepseek-bailian:
          ArtifactId: ${Artifact.EcsImage.ArtifactId}
          ArtifactVersion: draft
    TemplateConfigs:
    - Name: ECS单机版
      Url: ros_templates/template.yaml
      ArchitectureDiagramUrl: resources/architecture/architecture.jpg
      AllowedRegions:
      - ap-southeast-1
  ServiceType: private
  ServiceInfo:
  - Locale: zh-CN
    ShortDescription: 本服务集成了百炼API和Open WebUI且具备以下优势： 1. 稳定使用，服务器不再繁忙； 2. 高性价比，日均使用成本仅需1元左右；
      3. 个人专属AI网站，可绑定个人域名，共享亲友使用； 4. 更丰富的AI模型选择，deepseek、通义、Llama等； 日均使用成本按用户平均使用情况估算，实际情况会因您使用的token差异，导致费用有所变化，请以控制台显示的实际报价以及最终账单为准。
    Image: resources/icons/service_logo.png
    Name: DeepSeek个人站点-快速部署
    Softwares:
    - Name: open-webui
      Version: v0.6.41
Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: ecs_image_deepseek-bailian
    Description: deepseek-bailian EcsImage
    SupportRegionIds:
    - ap-southeast-1
    ArtifactBuildProperty:
      CodeRepo:
        Platform: github
        Owner: Alicloud-ComputeNest
        RepoName: aliyun-computenest/deepseek-bailian
        Branch: main
      RegionId: ap-southeast-1
      CommandType: RunShellScript
      CommandContent: 'mkdir -p /root/application

        if [ -e "/root/code/open-webui" ]; then cp -r "/root/code/open-webui" "/root/application/";
        fi

        if [ -e "/root/code/docker-compose.yaml" ]; then cp -r "/root/code/docker-compose.yaml"
        "/root/application/"; fi

        if [ -e "/root/code/.env.example" ]; then cp -r "/root/code/.env.example"
        "/root/application/"; fi

        cd /root/application

        cp .env.example ./.env

        sed -i ''s/pull_policy: always/pull_policy: if_not_present/g'' docker-compose.yaml

        docker compose -f docker-compose.yaml build

        docker compose -f docker-compose.yaml pull || true;'
